@import "tailwindcss";

html, body{
  scroll-behavior: smooth;
}
body{
  background-color: black;
}

*::selection {
  background: white;
  color: black;
}

.MarqueeGradient {
  mask-image: linear-gradient(
    to right,
    rgba(0,0,0,0),
    rgb(0,0,0,1) 20%,
    rgba(0,0,0,1) 90%,
    rgba(0,0,0,0)
  );
}

.marquee-right {
  display: flex;
  gap: 8px;
  animation: marquee-right 25s linear infinite;
}

@keyframes marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}

.marquee-left {
  display: flex;
  gap: 8px;
  animation: marquee-left 25s linear infinite;
}

@keyframes marquee-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}






.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


